*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
body{
    background-color: #514f4f;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/IMG_8486.JPG);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
.logo{
    width: 140px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
      margin-top: 20%;
      font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.header-text h1 span{
    color: #ff004f;
}
/* ----------------------about me------------------------------ */

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;

}
.about-col-row-1{
    flex-basis: 35%;
}
.about-col-row-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-row-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-linkes{
    margin-right: 50px;
    font-size: 18px;
}