*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
body{
    background-color: #514f4f;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
.logo{
    width: 140px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
      margin-top: 20%;
      font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.header-text h1 span{
    color: #ff004f;
}
/* ----------------------about me------------------------------ */

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;

}
.about-col-row-1{
    flex-basis: 35%;
}
.about-col-row-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-row-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #fa1b62d5;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active{
    display: block;
}

#services{
    padding: 30px 0;
}
.list-services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
    row-gap: 40px;
    grid-gap: 40px;
    margin-top: 50px;
}
.list-services div{
    background: #262626;
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.list-services div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.list-services div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.list-services div a{
    flex-direction: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.list-services div:hover{
    background-color: #ff004f;
    transform: translateY(-10px); 
}
/* -----------------portfolio------------ */

#Portfolio{
    padding: 50px 0;
}