*{
    background-color: #514f4f;
    color: #fff;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/IMG_8486.JPG);
}